{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home</title>

    <script src="static/locationmovies/scripts/jquery.min.js"></script>
    <script src="static/locationmovies/scripts/bootstrap-dropdown.js"></script>

    <script type='text/javascript'>
        $(document).ready(function () {
            $('#topbar').dropdown();
        });
    </script>

    <!-- Le styles -->
    <link href="static/locationmovies/styles/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/locationmovies/styles/mystyles.css">
</head>

<body>
{% include './header.html' %}
<div class="container">
    <div class="inside">
        {% block main_content %}
        {% endblock %}
    </div>
</div>

{% include  './footer.html'%}
</body>
</html>
