{% extends './base_body.html' %}

{% block main_content %}
<body>
<div class="container">

    <div class="hero-unit span8 pull-left" style='height:200px;'>
        <img src="static/locationmovies/images/sample/sf.png" alt="banner" id="banner" height="315px" width="580px"/>
    </div>

    <div class="well span5 pull-right" style='height:280px;'>

        <form method="post" action="/search" class='form-stacked'>
            {% csrf_token %}
            <h2>Search the film spots</h2>
            <div class='cleaner_h20'></div>
            <p>You may live in SF for more than 30 years but you can never imagine there are so many famous films shot
                around your most familiar place!</p>
            <div class='cleaner_h20'></div>
            <input type="text" name="search" id="id_search" value="{{ query }}" placeholder="Search by Movie Title">
            <div class='cleaner_h20'></div>
            <input type='submit' value='Find It &raquo;' id='signup' name='signup' class="btn primary"/>
        </form>
    </div>
</div>

<div class='cleaner'></div>

<div class='span16'>
    <div class='content-row'>

        <div class='well'>
            <img src='static/locationmovies/images/sample/apes.jpg' class='content-thumbnail'/>
            <div class='cleaner'></div>
            <div class='title'>Dawn of the Planet of the Apes</div>
            <div class='cleaner'></div>
            <div class='current-price'>2014</div>
            <div class='cleaner'></div>
            <h5 id="time-left2">SF City Hall</h5>
            <div class='cleaner'></div>

            <form action="/displayapes" method="post">
                {% csrf_token %}
                <input type='submit' class='btn primary large' value='Have a look'/>
            </form>
        </div>

        <div class='well'>
            <img src='static/locationmovies/images/sample/dirty_harry.png' class='content-thumbnail'/>
            <div class='cleaner'></div>
            <div class='cleaner'></div>
            <div class='title'>Dirty Harry</div>
            <div class='cleaner'></div>
            <div class='cleaner'></div>
            <div class='current-price'>1971</div>
            <div class='cleaner'></div>
            <h5 id="time-left2">Portsmouth Square</h5>
            <div class='cleaner'></div>
            <form action="/displayharry" method="post">
                {% csrf_token %}
                <input type='submit' class='btn primary large' value='Have a look'/>
            </form>
        </div>

        <div class='well'>
            <img src='static/locationmovies/images/sample/sanandreas.jpg' class='content-thumbnail'/>
            <div class='cleaner'></div>
            <div class='cleaner'></div>
            <div class='title'>San Andreas</div>
            <div class='cleaner'></div>
            <div class='cleaner'></div>
            <div class='current-price'>2015</div>
            <div class='cleaner'></div>
            <h5 id="time-left2">Coit Tower</h5>
            <div class='cleaner'></div>
            <form action="/displaysan" method="post">
                {% csrf_token %}
                <input type='submit' class='btn primary large' value='Have a look'/>
            </form>
        </div>

        <div class='well'>
            <img src='static/locationmovies/images/sample/vertigo.png' class='content-thumbnail'/>
            <div class='cleaner'></div>
            <div class='cleaner'></div>
            <div class='title'>Vertigo</div>
            <div class='cleaner'></div>
            <div class='cleaner'></div>
            <div class='current-price'>1958</div>
            <div class='cleaner'></div>
            <h5 id="time-left2">Golden Gate Bridge</h5>
            <div class='cleaner'></div>
            <form action="/displayvertigo" method="post">
                {% csrf_token %}
                <input type='submit' class='btn primary large' value='Have a look'/>
            </form>
        </div>

    </div>
</div>

{% endblock %}
