<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login &amp; Sign Up Page 1</title>
    {% include './header.html' %}

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="static/locationmovies/scripts/jquery.min.js"></script>
    <script src="static/locationmovies/scripts/bootstrap-dropdown.js"></script>

    <script type='text/javascript'>
    $(document).ready(function(){
      $('#topbar').dropdown();

      $('#username_in').focus();
    });

    $(document).delegate('.switch', 'click', function(){

      var c = $(this).attr('data-switch');
      $('#sign-in-form').slideUp(300, function(){ $(this).addClass('hide'); });
      $('#forgot-password-form').slideUp(300, function(){ $(this).addClass('hide'); });
      $('#'+c).slideDown(300, function(){
        $(this).removeClass('hide');
        $('input:first', this).focus();
      });
      c = null;

    });
    </script>

    <!-- Le styles -->
    <link href="static/locationmovies/styles/bootstrap.min.css" rel="stylesheet">


    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="static/locationmovies/images/favicon.ico">
    <link rel="apple-touch-icon" href="static/locationmovies/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/locationmovies/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/locationmovies/images/apple-touch-icon-114x114.png">
    <link rel="stylesheet" href="static/locationmovies/styles/mystyles.css">
  </head>

  <body>

    <!-- <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">SF FilmSpot</a>
          <ul class="nav">
            <li><a href="index.html">Home</a></li>
            <li class="active"><a href="/">Movie</a></li>
            <li class="active"><a href="/">Place</a></li>
            <li class="active"><a href="/contact">Contact us</a></li>
          </ul>

          <form class="pull-left" action="">
            {% csrf_token %}
            <input type="text" placeholder="Search">
              <button class="btn" type="submit">Go</button>
          </form>

          <ul class="nav secondary-nav">
            <li><a href="#">Welcome Guest!</a></li>
          </ul>
        </div>
      </div>
    </div> -->

    <div class="container">
      <div class='row'>
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="well span6 offset2">
          <form action="/register" method="post" class='form-stacked' id='sign-up-form'>
            {% csrf_token %}
            <h2>Sign Up for Free</h2>

            <div class='cleaner_h20'></div>

            <div class="clearfix">
              <label for="email_up">Email:
                {% if messages %}

                    {% for message in messages %}
                      {% if message.extra_tags == 'email' %}

                      {{ message }}

                      {% endif %}
                    {% endfor %}

                {% endif %}
              </label>
              <div class="input">
                <input id="email_up" name="email_up" size="30" type="text" class='xlarge'/>
                <!--
                <span class="help-block">
                  <span class='label important'>Warning</span> incorrect email address
               </span>
                -->
              </div>
            </div>

            <div class="clearfix">
              <label for="username_up">Username:
              {% if messages %}

                  {% for message in messages %}
                    {% if message.extra_tags == 'username' %}

                    {{ message }}

                    {% endif %}
                  {% endfor %}

              {% endif %}
              </label>
              <div class="input">
                <input id="username_up" name="username_up" size="30" type="text" class='xlarge'/>
                <!--
                <span class="help-block">
                  <span class='label important'>Warning</span> the username already exists
                </span>
                -->
              </div>
            </div>

            <div class="clearfix">

              <label for="pwd_up">Password:
                {% if messages %}

                    {% for message in messages %}
                      {% if message.extra_tags == 'password' %}

                      {{ message }}

                      {% endif %}
                    {% endfor %}

                {% endif %}
              </label>
              <div class="input">
                <input id="pwd_up" name="pwd_up" size="30" type="password" class='xlarge'/>
                <!--
                <span class="help-block">
                  <span class='label important'>Warning</span> too easy - even I can guess it
               </span>
              -->
              </div>
            </div>

            <div class="clearfix">

              <label for="passwordconf_up">Confirm Password:
                {% if messages %}

                    {% for message in messages %}
                      {% if message.extra_tags == 'passwordconfirm' %}

                      {{ message }}

                      {% endif %}
                    {% endfor %}

                {% endif %}
              </label>
              <div class="input">
                <input id="passwordconf_up" name="passwordconf_up" size="30" type="password" class='xlarge'/>
                <!--
                <span class="help-block">
                  <span class='label important'>Warning</span> the username already exists
                </span>
                -->
              </div>
            </div>

            <div class='cleaner_h10'></div>

            <ul class="inputs-list">
              <li>
                <label>
                  <input type="checkbox" name="terms_up" id='terms_up' value="yes" checked='true' />
                  <label for='terms_up'>Agree to <a href='#'>Terms of Use</a></label>
                </label>
              </li>
            </ul>

            <div class='cleaner_h20'></div>
            <input type='submit' value='Sign Up &raquo;' id='submit_up' name='submit_up' class="btn primary"/>
          </form>
        </div>

        <div class="well span5">
          <form action="/signin" method="post" class='form-stacked' id='sign-in-form'>
            {% csrf_token %}
            <h2>Sign In</h2>

            <div class='cleaner_h20'></div>

            <div class="clearfix">


              <label for="username_in">Username:
                {% if messages %}
                    {% for message in messages %}
                      {% if message.extra_tags == 'username' %}
                      {{ message }}
                      {% endif %}
                    {% endfor %}
                {% endif %}
              </label>
              <div class="input">
                <input id="username_in" name="username_in" size="30" type="text"/>
                <!--
                <span class="help-block">
                  <span class='label important'>Warning</span> the username already exists
                </span>
                -->
              </div>
            </div>

            <div class="clearfix">


              <label for="pwd_in">Password:
                {% if messages %}
                    {% for message in messages %}
                      {% if message.extra_tags == 'password' %}
                      {{ message }}
                      {% endif %}
                    {% endfor %}
                {% endif %}
              </label>
              <div class="input">
                <input id="pwd_in" name="pwd_in" size="30" type="password"/>
                <!--
                <span class="help-block">
                  <span class='label important'>Warning</span> too easy - even I can guess it
               </span>
              -->
              </div>
            </div>

            <ul class="inputs-list">
              <li>
                <label>
                  <input type="checkbox" name="remember_in" id='remember_in' value="yes" checked='true' />
                  <label for='remember_in'>Remember me</label>
                </label>
              </li>
            </ul>

            <div class='cleaner_h20'></div>
            <input type='submit' value='Sign In &raquo;' id='submit_in' name='submit_in' class="btn primary"/>
            <span class='switch' data-switch='forgot-password-form'>Forgot my password</span>
          </form>

          <form class='form-stacked hide' id='forgot-password-form'>
            {% csrf_token %}
            <h2>Forgot Password</h2>

            <div class='cleaner_h20'></div>

            <div class="clearfix">
              <label for="email_pwd">Email</label>
              <div class="input">
                <input id="email_pwd" name="email_pwd" size="30" type="text"/>
                <!--
                <span class="help-block">
                  <span class='label important'>Warning</span> the username already exists
                </span>
                -->
                <div class='cleaner_h10'></div>
                <span class='switch' data-switch='sign-in-form'>Never mind, I remember my password</span>
              </div>
            </div>

            <div class='cleaner_h20'></div>
            <input type='submit' value='Remind me &raquo;' id='submit_pwd' name='submit_pwd' class="btn primary"/>
          </form>
        </div>
      </div>
      <div class='cleaner'></div>
    <footer style='text-align:center;'>
       <p>&copy; Coding Dojo 2016 by <a href='http://www.codingdojo.com' target='_blank' title='Professional Web Developer'>Group_1</a></p>
    </footer>

   </div> <!-- /container -->

 </body>
</html>